<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="js/jquery.min.js" type="text/javascript"></script>
        <script src="js/jquery-ui.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            
            $(document).ready(function(){
                var trava = true;
                $(window).resize(function(){
                    $(".barras").height($(document).height()); 
                    
                });
                $(window).resize();
                var barras = $(".barras").find(".barra");
                var genius = new Array();
                var comandos = new Array();
                var sounds = new Array();
                function check()
                {
                    for(var i=0;i<comandos.length;i++)
                    {
                        if(comandos[i]!=genius[i])
                            return false;
                    }
                    return true;
                }
                function next()
                {
                    var active = parseInt(Math.random()*barras.length);
                    genius.push(active);
                    var i=0;
                    function run()
                    {
                        console.log(i);
                        //$(barras[genius[i]]).switchClass("","active",500).switchClass("active","",500);
                        animate(genius[i]);
                        i++;
                        if(i<genius.length)
                        {
                            setTimeout(run,500);
                        }
                    }
                    run();
                    comandos = new Array();
                }
                function compute(p)
                {
                    if (trava)
                        return;
                    comandos.push(p);
                    if(!check())
                    {
                        $(".mensagem").html("Ops, você errou!<br/> Mas não fique triste, pelo menos chegou até o "+genius.length+" nível!");
                        
                        $(".menu").css("top","0px");
                        $(".menu").animate({opacity:1},200);
                        return;
                    }
                    else
                        animate(p);
                    //$($(".barra").get(p)).switchClass("","active",500).switchClass("active","",500);
                    if(comandos.length == genius.length)
                        setTimeout(next,800);                    
                }
                function animate(i)
                {
                    for(var p=0;p<5;p++)
                    {
                        sounds[p].pause();
                        sounds[p].currentTime =0;
                    }
                    sounds[i].play();
                    $($(".barra").get(i)).switchClass("","active",200).switchClass("active","",200);
                }
                $(".barra").click(function(){
                    console.log($(this).index());
                    compute($(this).index());
                });
                $(".start").click(function(){
                
                    var docElm = document.documentElement;
                    if (docElm.requestFullscreen) {
                        docElm.requestFullscreen();
                    }
                    else if (docElm.mozRequestFullScreen) {
                        docElm.mozRequestFullScreen();
                    }
                    else if (docElm.webkitRequestFullScreen) {
                        docElm.webkitRequestFullScreen();
                    }
                    $(".menu").animate({opacity:0},200,function(){
                        $(".menu").css("top",$(document).height());
                        trava = false;
                        genius = new Array();
                        comandos = new Array();
                        next();
                    })
                });
                $(document).keydown(function(e){
                    console.log(e.keyCode);
                });
                for(var i=1;i<6;i++)
                {
                    var s = new Audio("sons/"+i+".wav");
                    s.play();
                    s.pause();
                    sounds.push(s);
                }
            });
        </script>

        <style type="text/css">
            body
            {
                margin: 0px;
                padding: 0px;
                overflow: hidden;
            }
            .barras
            {
                height: 500px;
            }
            .barras .barra
            {
                width: 20%;
                height: 100%;
                float: left;
                cursor:pointer;
            }
            .barras .barra.azul
            {
                background: url(images/fundo.png) center center #006b9d;
            }
            .barras .barra.azul.active
            {
                background: url(images/fundo.png) center center #00deff;
            }
            .barras .barra.verde
            {
                background: url(images/fundo.png) center center #309d00;
            }
            .barras .barra.verde.active
            {
                background: url(images/fundo.png) center center #36ff00;
            }
            .barras .barra.amarelo
            {
                background: url(images/fundo.png) center center #9d9b00;
            }
            .barras .barra.amarelo.active
            {
                background: url(images/fundo.png) center center #ffff00;
            }
            .barras .barra.laranja
            {
                background: url(images/fundo.png) center center #9d6700;
            }
            .barras .barra.laranja.active
            {
                background: url(images/fundo.png) center center #ffa800;
            }
            .barras .barra.vermelho
            {
                background: url(images/fundo.png) center center #9d0000;
            }
            .barras .barra.vermelho.active
            {
                background: url(images/fundo.png) center center #ff0000;
            }
            .menu
            {
                position:absolute;
                top:0px;
                bottom: 0px;
                right: 0px;
                left: 0px;
                background: rgba(0,0,0,0.3);
            }
            .description
            {
                width: 600px;
                margin: 30px auto;
            }
            .description .mensagem
            {
                color:#fff;
                font-size: 30pt;
            }
            .description button
            {
                float: right;
                margin: 40px;
                height: 50px;
                width: 100px;
                border:none;
            }
        </style>
    </head>
    <body>
        <div class="barras">
            <div class="barra azul" ></div>
            <div class="barra verde"></div>
            <div class="barra amarelo"></div>
            <div class="barra laranja"></div>
            <div class="barra vermelho"></div>
        </div>
        <div class="menu">
            <div class="description">
                <div class="mensagem">
                    Protótipo do Genius para a Algar!
                </div>
                <button class="start" value="start">Iniciar</button>
            </div>
        </div>
    </body>
</html>
